.bold {
    font-weight: 900;
}

.announcement{
    color: red;
    font-size: 16px;
}

.announcement-content{
    margin: 0 10%;
    border: 2px solid rgb(8, 3, 153);
    background-color: rgb(165, 243, 244);
    padding: 0.5em 1.2em;
}

.welcome-message{
    display: flex;
    justify-content: center;
}


