.bold {
    font-weight: 900;
}

.announcement{
    color: red;
    font-size: 16px;
}

.announcement-content{
    margin: 0 10%;
    background-color: rgb(79, 242, 223);
}

.welcome-message{
    display: flex;
    justify-content: center;
}


